<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registracija</servlet-name>
        <servlet-class>servleti.registracija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logovanje</servlet-name>
        <servlet-class>servleti.logovanje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pretraga</servlet-name>
        <servlet-class>servleti.pretraga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PorukeListaServlet</servlet-name>
        <servlet-class>servleti.PorukeListaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OglasiListaServlet</servlet-name>
        <servlet-class>servleti.OglasiListaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KorisnickiServlet</servlet-name>
        <servlet-class>servleti.KorisnickiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KorisniciLista</servlet-name>
        <servlet-class>servleti.KorisniciLista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObrisiKorisnika</servlet-name>
        <servlet-class>servleti.ObrisiKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>servleti.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObrisiPoruku</servlet-name>
        <servlet-class>servleti.ObrisiPoruku</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmeniKorisnika</servlet-name>
        <servlet-class>servleti.IzmeniKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmenaK</servlet-name>
        <servlet-class>servleti.IzmenaK</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OglasiServlet</servlet-name>
        <servlet-class>servleti.OglasiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmenaO</servlet-name>
        <servlet-class>servleti.IzmenaO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajOglas</servlet-name>
        <servlet-class>servleti.DodajOglas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajKorisnika</servlet-name>
        <servlet-class>servleti.DodajKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SlanjePor</servlet-name>
        <servlet-class>servleti.SlanjePor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DK</servlet-name>
        <servlet-class>servleti.DK</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajSlikee</servlet-name>
        <servlet-class>servleti.DodajSlikee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SlikeServlet</servlet-name>
        <servlet-class>servleti.SlikeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Odgovori</servlet-name>
        <servlet-class>servleti.Odgovori</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Odg</servlet-name>
        <servlet-class>servleti.Odg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MojiOglasi</servlet-name>
        <servlet-class>servleti.MojiOglasi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sortiranje</servlet-name>
        <servlet-class>servleti.Sortiranje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PretragaID</servlet-name>
        <servlet-class>servleti.PretragaID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObrisiOglas</servlet-name>
        <servlet-class>servleti.ObrisiOglas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajSliku</servlet-name>
        <servlet-class>servleti.DodajSliku</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registracija</servlet-name>
        <url-pattern>/registracija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logovanje</servlet-name>
        <url-pattern>/logovanje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pretraga</servlet-name>
        <url-pattern>/pretraga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PorukeListaServlet</servlet-name>
        <url-pattern>/PorukeListaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OglasiListaServlet</servlet-name>
        <url-pattern>/OglasiListaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KorisnickiServlet</servlet-name>
        <url-pattern>/KorisnickiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KorisniciLista</servlet-name>
        <url-pattern>/KorisniciLista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObrisiKorisnika</servlet-name>
        <url-pattern>/ObrisiKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObrisiPoruku</servlet-name>
        <url-pattern>/ObrisiPoruku</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmeniKorisnika</servlet-name>
        <url-pattern>/IzmeniKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmenaK</servlet-name>
        <url-pattern>/IzmenaK</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OglasiServlet</servlet-name>
        <url-pattern>/OglasiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmenaO</servlet-name>
        <url-pattern>/IzmenaO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajOglas</servlet-name>
        <url-pattern>/DodajOglas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajKorisnika</servlet-name>
        <url-pattern>/DodajKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SlanjePor</servlet-name>
        <url-pattern>/SlanjePor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DK</servlet-name>
        <url-pattern>/DK</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajSlikee</servlet-name>
        <url-pattern>/DodajSlikee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SlikeServlet</servlet-name>
        <url-pattern>/SlikeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Odgovori</servlet-name>
        <url-pattern>/Odgovori</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Odg</servlet-name>
        <url-pattern>/Odg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MojiOglasi</servlet-name>
        <url-pattern>/MojiOglasi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sortiranje</servlet-name>
        <url-pattern>/Sortiranje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PretragaID</servlet-name>
        <url-pattern>/PretragaID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObrisiOglas</servlet-name>
        <url-pattern>/ObrisiOglas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajSliku</servlet-name>
        <url-pattern>/DodajSliku</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
